{% extends '../layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
  {% parent %}
  <link href="../css/login.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block pageTitle %}
  {% parent %}
{% endblock %}


{% block content %}

<div class="loginForm">
    <form action="/login" method="post" class="form-horizontal">
            <fieldset>
                <legend id="legend">{{Login}}</legend>

                        <div class="control-group">
                            <label class="control-label" for="email" id="emailLabel">{{Email}}</label>
                            <div class="input-prepend">
                                <input type="email" id="email" placeholder="{{email}}" name="email" autofocus required/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="password" id="pswdLabel">{{Password}}</label>
                            <div class="input-prepend">
                                <input type="password" id="password" placeholder="{{password}}" name="password" required/>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <input class="control-button" type="submit" class="btn-submit" value="{{submit}}"/>
                                <input class="control-button" type="button" class="btn-cancel" value="{{cancel}}"/>
                            </div>
                        </div>

            </fieldset>
    </form>
</div>

{% endblock %}
