{% extends '../../layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
  {% parent %}
  Registration
{% endblock %}

{% block content %}
<form method="POST" action='/register' enctype='application/x-www-form-urlencoded'>
<div>
	<table>
		<tr id="tr">
			<td>{% block username %}{% endblock %} </td>
			<td>
				<input type="text" spellcheck="true" placeholder="username" id="username" autocomplete="on"/>
			</td>
		</tr>
	
		<tr id="tr">
			<td>Email: </td>
			<td>
				<input type="text" spellcheck="true" placeholder="email" id="email" autocomplete="on"/>
			</td>
		</tr>
	
		<tr id="tr">
			<td>Password: </td>
			<td>
				<input type="password" spellcheck="true" placeholder="password" id="password" autocomplete="on"/>
			</td>
		</tr>
	
		<tr id="tr">
			<td>
				Confirm Password: 
			</td>
			<td>
				<input type="password" spellcheck="true" placeholder="password" id="confirm-password"/>
			</td>
		</tr>
	
		<tr id="tr">
			<td>
				<input type="submit" id="submit" value="Register"/>
			</td>
			<td>
				<input type="submit" id="cancel" value="Cancel"/>
			</td>
		</tr>
		
	</table>
</div>
</form>
{% endblock %}