    {% extends '../layout.html' %} 
    
    {% block title %}My Page{% endblock %} 
    
    {% block head %} 
        {% parent %}
        <link href="../css/register.css" rel="stylesheet" type="text/css" />
    {% endblock %} 
    
    {% block pageTitle %} 
        {% parent %} 
    {% endblock %} 
    
    {% block content %}
    <script type="text/javascript">
        
        function checkPassword(password) {
            var strengths = ["Very Weak", "Weak", "Medium", "Strong", "Very Strong"];
            var colors = ["#FF0000", "#FFBBAA", "#FFCC00", "#19D119", "#006600"];
            var score = 0;
            var regLower = /[a-z]/, regUpper = /[A-Z]/, regNumber = /\d/, regPunctuation = /[.,!@#$%^&*?_~\-£()]/;
            
            if (password.length < 2) {
                score = 0;
            } else if (password.length < 4) {
                    score = 1;
                } else if (password.length <= 7) {
                    score = 2;
                } else {
                    // length is >= 8 in here
                    if (regLower.test(password) && regUpper.test(password) && regNumber.test(password)) {
                        // if it also has punctuation, then it gets a 5, otherwise just a 4
                        if (regPunctuation.test(password)) {
                            score = 4;
                        } else {
                            score = 3;
                        }
                    } else {
                        // if doesn't have upper, lower and numbers, then it gets a 3
                        score = 2;
                    }
                }
                var spanPwd = document.getElementById('passwordStrength');
                spanPwd.innerHTML = strengths[score];
                spanPwd.style.color = colors[score];
        }
    
    
        function passwordChanged(value) {
            checkPassword(value);
        }
    
        function validatePassword() {
    
            if (document.getElementById('pswd').value === document.getElementById('cpswd').value) {
                document.getElementById('registerForm').submit();
    
            } else {
                document.getElementById('validPassword').innerHTML = 'Password is incorrect';
            }
        }
        
        
        
        function validateForm() {
    
            if (document.getElementById('pswd').value === document.getElementById('cpswd').value) {
                document.getElementById('validPassword').innerHTML = '';
    
            } else {
                document.getElementById('validPassword').innerHTML = 'Password is incorrect';
            }
        }
    </script>
    
    <div class="registerDiv">
        <form class="form-vertical" action="/register" method="post" id='registerForm'>
            <fieldset>
                <legend class="form-group">Register</legend>
                
                <div class="name">
                    <span for="name">{{Username}}
                        <span class="glyphicon glyphicon-asterisk">
                            <input type="text" class="nameText" placeholder="{{username}}" name="username" autofocus required/>
                        </span>
                    </span>
                </div>
                
                <div class="email">
                    <span for="email">{{Email}}
                        <span class="glyphicon glyphicon-asterisk">
                            <input type="email" class="emailText" placeholder="{{email}}" name="email" required/>
                        </span>
                    </span>
                </div>
                
                <div class="pasword">
                    <span for="password">{{Password}}
                        <span class="glyphicon glyphicon-asterisk">
                            <input type="password" class="passwordText" placeholder="{{password}}" name="password" onkeyup="passwordChanged(this.value)" required/>
                            <span>
                                <label for="label" id='passwordStrength' class='passwordStrength'>weak</label>
                            </span>
                        </span>
                    </span>
                </div>
                
                <div class="cpasword">
                    <span for="cpassword">{{ConfirmPassword}}
                        <span class="glyphicon glyphicon-asterisk">
                        <input type="password" class="cpasswordText" placeholder="{{confirmpassword}}" name="confPassword" oninput="validatePassword()" required/>
                        </span>
                    </span>
                </div>
                
                <div class="remember">
                    <input type="submit" class="btn" value="{{submit}}" onclick='validateForm()'/>
                </div>
                
                <div class="forgot">
                    <label class="lbl-text-success">
                        <a class="btn-link" href="http://localhost:3001/login">Login</a>
                    </label>
                </div>
            </fieldset>
            </form>
        </div>
    {% endblock %}