{% extends '../../layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}

<form method="post" action="/login">
	<div>
		<fieldset>
			<legend>{{Login}}</legend>
			<table>
				<tr id="tr">
					<td>{{Email}}: </td>
					<td>
						<input type="text" spellcheck="true" placeholder="{{email}}" name="email" autocomplete="on"/>
					</td>
				</tr>
	
				<tr id="tr">
					<td>{{Password}}: </td>
					<td>
						<input type="password" spellcheck="true" placeholder="{{password}}" name="password"/>
					</td>
				</tr>
	
				<tr id="tr">
					<td>
						<input type="submit" class="btn-submit" value="{{submit}}"/>
					</td>
					<td>
						<input type="button" class="btn-cancel" value="{{cancel}}"/>
					</td>
				</tr>
		
			</table>
		</fieldset>
	</div>
</form>


{% endblock %}